node_modules/
.env
tmp/
logs/
*.log
.DS_Store
.git
.gitignore
robot-standalone/dist/
robot-standalone/dist-bundle/
robot-standalone/dist-jsc/
robot-standalone/dist-obf/
robot-standalone/robot-standalone/